@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  background-color: #dadada;
}

h1 {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.651);
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
}
